@media (max-width:575px) {


  .res_menu {
    position: fixed;
    /* background-color: red; */
    width: 100%;
    padding: 10px 0;
    z-index: 9999;
  }

  .res_menu .res_menu_btn {
    background-color: transparent !important;
    border: none !important;
  }

  .res_menu_ex {
    background-color: white !important;
    animation: res_menu 1s !important;
    -webkit-animation: res_menu 1s !important;
  }

  @keyframes res_menu {
    0% {
      top: -50px;
    }

    100% {
      top: 0;
    }
  }

  .res_menu .res_menu_btn:focus {
    box-shadow: none;
  }

  .off_main {
    width: 250px;
  }

  #main_navbar {
    padding: 0 5px;
    width: 100% !important;
  }

  #main_navbar a,
  #main_navbar h2,
  #main_navbar h3,
  #main_navbar p,
  #main_navbar i {
    text-align: start;
  }

  .logo {
    padding-top: 20px !important;
  }

  .logo img {
    width: 85%;
  }

  .btn-close:focus {
    outline: 0;
    box-shadow: none;
    opacity: 1;
  }
.das_help_img{
  display: flex;
  justify-content: start;
}


#header{
  margin-top: 60px;
}
.user_counter_main{
  margin-top: 15px;
}


#dashboard .dashboard_left .dashboard_left_text p {
  padding-right: 0;
  padding-bottom: 30px;
}

#dashboard .dashboard_left {
  flex-wrap: wrap;
}

.dashboard_left_img{
  margin-top: 15px;
}

#dashboard .dashboard_left_img img{
  width: 100%;
}

#dashboard .dashboard_right .dashboard_right_text {
  padding: 0;
  top:20%;
  left: 7%;
}

#dashboard .dashboard_right .dashboard_right_text p {
  padding-right: 20%;
  font-size: 10px;
}

#dashboard .dashboard_right .dashboard_right_text a {
display: none;
}





#active_user .active_user_main .active_user_item_main {
  flex-wrap: wrap;
  justify-content: space-around;
}
#active_user .active_user_main .active_user_item_main .active_user_item {
  margin-right: 0;
  margin-top: 10px;
}



footer .footer_left p {
  text-align: center;
}

footer .footer_menu {
  justify-content: center;
  margin-top: 15px;
}

footer .footer_menu ul li a {
  margin: 0 10px;
}






















}

















































@media (min-width:576px) and (max-width:767.98px) {}

@media (min-width:768px) and (max-width:991.98px) {}

@media (min-width:992px) and (max-width:1199.98px) {}