.profile_banner{
  position: relative;

  .p_banner{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: -1;
    width: 100%;
}
}