.sign_up_banner{
  position: absolute;
  top: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 100% !important;
  text-align: center;
  z-index: -1;
}